/* Styling Page */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #e6e6ff;
    font-family: 'Nanum Gothic', sans-serif;
}

/* Styling Navigation Section */
nav {
    background-color: #000019;
    width: 100%;
    position: relative;
    height: 50px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px 10px 5px 10px;
    position: relative;
    float: right;
}

nav a.active {
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 3px;
}

nav a:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 0.7s ease;
}

nav a:hover:before {
    transform: scaleX(1);
}  

nav div {
    color: white;
    padding: 15px 10px 5px 10px;
}

/* Styling About Me Section */
.head {
    text-align: center;
    padding: 2px;
    background-color: #2a0545;
    text-transform: uppercase;
    color: white;
}

#personal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 5px;
}

#personal div img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 4px lightgray;
}

#personal div p {
    font-size: 18px;
    color: #000019;
    line-height: 25px;
    margin-top: 5px;
}

h5 {
    text-transform: uppercase;
    font-size: 23px;
    color: #000019;
    margin-bottom: 0px;
}

.goals {
    margin-top: -25px;
}
/* Styling Education Section */
#edu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.section {
    background-color: #8080ff;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    box-shadow: 2px 2px 0 2px lightgray;
}

.top {
    font-size: 20px;
    color: #000019;
    font-weight: 700;
}

/* Styling Job Experience, Hobbies and Skills Section */
#job {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.section1 {
    background-color: #8080ff;
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    box-shadow: 2px 2px 0 2px lightgray;
}

.section1 h4 {
    color: #7925b5;
    font-size: 23px;
    font-weight: 700;
}

li {
    list-style-type: none;
    text-align: left;
}

/* Styling Form Section */
form {
    width: 350px;
    margin: 50px auto;
    background-color: #8080ff;
    padding: 20px;
    border-radius: 5px;
}

#feedback h3{
    font-size: 23px;
    color: #7925b5;
    margin: 10px;
    margin-bottom: 30px;
}

form label {
    margin: 10px;
    /* display: block; */
    font-size: 18px;
    font-weight: 700;
}

form input {
    margin: 10px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    /* margin-top: -15px; */
    width: 285px;
}

form input[placeholder] {
    font-size: 13px;
}

form input:hover{
    background-color: #e6e6ff;
}

form input:focus {
    border: 1px solid #7925b5;
    background-color: #e6e6ff;
}

textarea {
    margin: 10px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid #e6e6ff;
    border-radius: 5px;
    width: 285px;
}

textarea:hover{
    background-color: #e6e6ff;
}

textarea:focus {
    border: 1px solid #7925b5;
    background-color: #e6e6ff;
}

select {
    margin: 10px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid #e6e6ff;
    border-radius: 5px;
    font-size: 13px;
    width: 326px;
}

/* Styling Submit Button */
#btn {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #7925b5;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
}

button:hover {
    color: #7925b5;
    background-color: white;
    border: 1px solid #7925b5;
}

/* Styling Footer Section */
footer {
    background-color: #000019;
    width: 100%;
    text-align: center;
    padding: 10px 10px 20px 10px;
    position: relative;
    box-sizing: border-box;
    color: white;
}

.icon {
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon:hover {
    border: 1px solid #7925b5;
}

i {
    color: white;
}

i:hover {
    color: #7925b5;
}
