/* Styling Page */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #e6e6ff;
    font-family: 'Nanum Gothic', sans-serif;
}

/* Styling Navigation Section */
nav {
    background-color: #000019;
    width: 100%;
    position: relative;
    height: 50px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px 10px 5px 10px;
    position: relative;
    float: right;
}

nav a.active {
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 3px;
}

nav a:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 0.7s ease;
}

nav a:hover:before {
    transform: scaleX(1);
}

/* Styling Form Section */
form {
    background-color: #8080ff;
    margin: 100px auto;
    width: 380px;
    padding: 20px;
}

#welcome {
    padding: 23px;
    margin: 0 10px;
    font-size: 23px;
    color: #7925b5;
    margin-top: -30px;
}

#welcome p {
    font-size: 12px;
    margin-top: -25px;
    margin-bottom: -10px;
    color: lightgray;
}

.form-control {
    padding: 20px;
    margin: 0 10px;
}

form label {
    font-size: 18px;
    font-weight: 700;
}

form input {
    outline: none;
    padding: 5px 20px;
    float: right;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
}

form input[placeholder] {
    font-size: 13px;
}

form input:hover {
    background-color: #e6e6ff;
}

form input:focus {
    background-color: #e6e6ff;
    border: 1px solid #7925b5;
}

#forget {
    margin-top: -20px;
}

#forget p a {
    font-size: 12px;
    text-decoration: none;
    margin: 0 30px;
    color: lightgray;
}

#forget p a:hover {
    font-size: 12px;
    text-decoration: underline;
    color: #000066;
}

/* Styling Submit Button */
#btn {
    text-align: center;
}

button {
    padding: 8px 20px;
    background-color: #7925b5;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    width: 50%;
}

button:hover {
    background-color: white;
    color: #7925b5;
    border:1px solid #7925b5;
}

/* Styling Others */
#register {
    text-align: center;
}

#register a {
    color: lightgray;
    text-decoration: none;
    margin-left: 3px;
}

#register a:hover {
    color: #000066;
    text-decoration: underline;
}

/* Styling Footer Section */
footer {
    background-color: #000019;
    width: 100%;
    text-align: center;
    padding: 10px 10px 20px 10px;
    position: relative;
    box-sizing: border-box;
    color: white;
}

.icon {
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon:hover {
    border: 1px solid #7925b5;
}

i {
    color: white;
}

i:hover {
    color: #7925b5;
}
